---

    import Button from "./Btn.astro"; 


    interface Props {
        direction: string,
        btnsData: {
            className: string,
            size: string,
            style: string,
            title: string,
            titleStyle: string,
        }[]
    }

    const { btnsData } = Astro.props

---

<div class="flex flex-row items-center">
    {
        btnsData.map((button) => (
            <Button className={button.className} size={button.size} style={button.style} title={button.title} titleStyle={button.titleStyle} />
        ))
    }
</div>