---

    import Button from "./Btn.astro"; 


    interface Props {
        direction: string,
        buttonsGroup: {
            id: string,
            buttonType: string,
            size: string,
            style: string,
            title?: string,
            titleStyle?: string,
        }[]
    }

    const {buttonsGroup, direction} = Astro.props

---

<div class=`btn-container ${direction}`>
    {
        buttonsGroup.map((button) => (
            <Button id={button.id} buttonType={button.buttonType} size={button.size} style={button.style} title={button.title} titleStyle={button.titleStyle} />
        ))
    }
</div>

<style>
    .btn-container {
        @apply flex items-center gap-4 p-4 rounded-xl border-4 border-skin-accent
    }
</style>